//Exact Target
article
	section
		h1 [{{metadatas.status}}] {{metadatas.campaign_name}}
		hr
		h2 Target: {{metadatas.target}}
		h2 From: {{metadatas.fromName}}
		hr
		p {{metadatas.subject}}
hr
h2 Content:
br
| Hi %%fullname%%,
br
| A disruptive innovation is an innovation that helps create a new market and value network, and eventually goes on to disrupt an existing market and value network (over a few years or decades), displacing an earlier technology.
br
br
| The term is used in business and technology literature to describe innovations that improve a product or service in ways that the market does not expect, typically first by designing for a different set of consumers in a new market and later by lowering prices in the existing market.
br
br
a(href='http://en.wikipedia.org/wiki/Disruptive_innovation') Click here for more info
br
br
| Regards,
br
br
a(href='%%profile_center_url%%', alias='Update Profile') Update Profile
| - We respect your right to privacy - click
a(href='http://email.exacttarget.com/Company/Policies/PrivacyPolicy.html?linkid=View+Privacy+Policy') here
| to view our policy.We respect your right to privacy - click
a(href='http://email.exacttarget.com/Company/Policies/PrivacyPolicy.html?linkid=View+Privacy+Policy') here
| to view our policy.
hr
custom(name='opencounter', type='tracking')
	| -
	table#Table5(cellpadding='2', cellspacing='0', width='600', border='0')
		tr
			td
				font(face='verdana', size='1', color='#444444')
					| This email was sent by:
					b %%Member_Busname%%
					br
					| %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%
					br
					br
