h1(ng-show='loading') Loading
.timeline(ng-hide='loading')
  h3 This week
  section.timeslice
    a(href='full/{{item.id}}').row.item(ng-repeat='item in items')
      .headerItem
        .icons
          img.iconItem(src='img/jpg.png')
          img.iconProvider(src='img/dropbox_icon.svg')
        .text
          h2(ng-bind-html-unsafe='item.datas.title')
          h2.date {{item.date | niceDate}}
        br(clear='both')
      p.details(ng-bind-html-unsafe='item.datas.snippet')