.wrapperTimeline
  .timelineBar

  .loading(ng-show='loading')
    .buble
    h3 Loading timeline for {{contact}}
    
  .timeline(ng-hide='loading')

    h3(ng-show='itemThisWeek.length')  This Week
    section.timeslice(ng-show='itemThisWeek.length')
      a(href='full/{{item.id}}').row.item(ng-repeat="item in itemThisWeek | orderBy:'date':true")
        .headerItem
          .icons
            img.iconItem(src='img/type/{{item | infoItem:"type"}}.svg')
            img.iconProvider(src='img/provider/{{item | infoItem:"provider"}}_icon.svg')
          .text
            h2(ng-bind-html-unsafe='item.title')
            h2.date {{item.date | niceDate:false}}
          br(clear='both')
        p.details(ng-bind-html-unsafe='item.snippet')

    h3(ng-show='itemsLastWeek.length')  Before {{lastWeek | niceDate:false}}
    section.timeslice(ng-show='itemsLastWeek.length')
      a(href='full/{{item.id}}').row.item(ng-repeat="item in itemsLastWeek | orderBy:'date':true")
        .headerItem
          .icons
            img.iconItem(src='img/type/{{item | infoItem:"type"}}.svg')
            img.iconProvider(src='img/provider/{{item | infoItem:"provider"}}_icon.svg')
          .text
            h2(ng-bind-html-unsafe='item.title')
            h2.date {{item.date | niceDate:false}}
          br(clear='both')
        p.details(ng-bind-html-unsafe='item.snippet')
