.wrapperUser
	img.logo(src="img/logo_full.svg")

	.loading(ng-show='loading')
		.buble.user

	.actions(ng-show="!loading")
		button.button(ng-click="update()", ng-class="{disabled: !canUpdate, secondary: !canUpdate, alert: canUpdate}") Update
		h3.lastUpdate(ng-show="canUpdate") Last update:
			br
			strong {{ lastUpdate | niceDate:true }}
		h3.lastUpdate(ng-hide="canUpdate", style="margin-top: 12px;")
			.loading
				.buble.update
			span(style="display: inline-block; text-indent:31px") Updating...

		.providers
			h2.left Providers
			h2.right
				//- a(href="http://anyfetch.com/providers", target="_blank")+ Add
			ul
				li(ng-repeat="provider in providers")
					{{provider.name}}