//Foundation override
$secondary-color: rgb(83, 179, 90);
$primary-color: rgb(90, 146, 210);
$anyfetch-color: rgb(63, 150, 69);
$neutral-color: #eee;
//Personnal variables
$header-height: 400;
$menu-height: 50;
$menu-font-size: 20;

@font-face {
	font-family: 'tektonpro-regular';
	src: url('tektonpro-regular.eot');
	src: local('☺'), url('tektonpro-regular.woff') format('woff'), url('tektonpro-regular.ttf') format('truetype'), url('tektonpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
    font-weight: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueLTStd-Md.otf');
    font-weight: bold;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueLTStd-Md.otf');
    font-weight:medium;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueLTStd-Th.otf');
    font-weight:thin;
}


$body-font-family: HelveticaNeue, Cambria, 'Times New Roman', Times, sans-serif !default;
$header-font-family: HelveticaNeue, Cambria, 'Times New Roman', Times, sans-serif !default;

// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/css3";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


//-------------------------------------------------------
//              Main Styles
//-------------------------------------------------------

body, html {
    background: $neutral-color;
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    
    //RESPONSIVE MINI SCREEN
    h2 { font-size: 1em; }
    h3 { font-size: 0.9em; }
    h4 { font-size: 0.6em; }
    p { font-size: 0.8em; }
}



//-------------------------------------------------------
//              User page style
//-------------------------------------------------------

.wrapperUser {
    min-height:100%; /* real browsers */
    min-width:100%; /* real browsers */
    position:absolute; bottom:0;

    background: $anyfetch-color;
    padding-top: 10px;

    .logo {
        display: block;
        margin: 10px auto;
        width: 50%;
    }

    .actions {
        margin: 20px auto;

        .button, .lastUpdate { float: left; }

        .button {
            display: block;
            margin: 0 20px 10px;
        }

        h2, h3, li, h2 a { color: white; }
        h2 a:hover { color: #ddd; }

        .lastUpdate {
            font-weight: normal;
        }

        .providers {
            clear: both;
            padding: 5px 20px;
            
            ul {
                list-style-position:inside;
                clear: both;
            }

            li {
                text-indent: 20px;
            }
        }
    }
}

//-------------------------------------------------------
//              Name Timeline
//-------------------------------------------------------

.title {
    font-size: 0.9em;
    margin-bottom: 0;
    font-weight: normal;
    background: white;
    padding: 4px 0 2px 5px;
    margin: 0;
    height: 45px;

    span {
        color: $secondary-color;
        width: 30px; height: 30px;
        position: relative;
        display: block;
        margin: 11px 6px 5px 16px;
    }

    .logo {
        width: 30px; height: 30px;
        position: relative;
        margin: 2px 6px 5px 10px;
    }
}

//-------------------------------------------------------
//              Filters
//-------------------------------------------------------

.wrapFilters {
    position: relative;
    padding-bottom: 20px;
    z-index: 99;

    .filters {
        background: white;
        padding: 0 10px;
        height: 240px;
        border-bottom: 1px solid darken($neutral-color, 20);
        position: relative;
        overflow: hidden;
        @include transition-property(height);
        @include transition-duration(0.6s);

        &.collapsed { height: 0px; }
        
        .custom { clear: both; }
        h3, a { float: left; }
        a {
            padding-left: 10px;
            font-size: 0.8em;
            margin-top: 5px;
        }

        input {
            margin: 5px 0;
        }
    }
    
    .tongue {
        background: white;
        position: absolute;
        width: 40px; height: 20px;
        bottom: 2px; right: 15px;
        border-left: 1px solid darken($neutral-color, 20);
        border-right: 1px solid darken($neutral-color, 20);
        border-bottom: 1px solid darken($neutral-color, 20);
        @include border-bottom-left-radius(7px);
        @include border-bottom-right-radius(7px);

        cursor: pointer;

        &:before { 
            content:"";
            position: absolute;
            left: 12px; top: 4px;
            width:0; height:0;
            border-right:8px solid transparent;
            border-left:8px solid transparent;
            border-top:8px solid darken($neutral-color, 40);
        }
    }
}

//-------------------------------------------------------
//              Loading
//-------------------------------------------------------

.loading {
    &.tl { margin: 10px 0 0 -3px; }

    .buble {
        position: absolute;
        
        width: 20px; height: 20px;
        background: $anyfetch-color;
        border-radius: 100%;
        border: 3px solid  $neutral-color;

        &:after {
            content: '';
            background: trasparent;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 100%;
            top: -0%;
            left: -0%;
            opacity: 0.7;
            box-shadow: 11px 4px 30px 4px darken($anyfetch-color, 20);
            @include animation(rotate 0.9s infinite linear);
        }

        &.user {
            left: 50%;
            bottom: 100px;

            &:after {
                box-shadow: #fff -9px -10px 7px -5px;
            }
        }
        &.document {
            left: 50%;
            top: 100px;
        }
        &.tl {
            left: -3px;
            top: 15px; 
        }
    }

    h3 {
        color: #333;
        text-shadow: 1px 1px white;
        text-indent: 50px;
        float: left;
        position: relative;
        width: 100%;
        color: #333;
        font-weight: normal;
        margin: 2px 0 0 0; padding: 0;
    }
}

@keyframes rotate {
  0% {
    @include transform(rotateZ(0deg));
  }
  100% {
    @include transform(rotateZ(360deg));
  }
}


//-------------------------------------------------------
//              Documents
//-------------------------------------------------------

.wrapperLoading {
    padding-top: 10px;
    position: relative;
    bottom: 52px;

    a {
        color: black;
        display: block;
        width: 100%;
        height: 40px;
        padding-top: 10px;

        img {
            height: 20px;
            margin-left: 5px;
        }
    }
}

.wrapper {
    font-size: 0.5em;
    position: relative;
    overflow: auto;
    padding: 10px;
    top: -52px;
    height: 100%;
}


//-------------------------------------------------------
//              Timeline
//-------------------------------------------------------

.wrapperTimeline {
    position: relative;
}

.wrapperTimeline {
    margin-top: -20px;
    z-index: 20;
    padding-top: 10px;
}

.timelineBar {
    position: absolute; top: 0; left: 5px;
    min-height: 20px; height: 100%;
    border-left: darken($neutral-color, 10) 3px solid;
}

.timeline {
    padding-bottom: 15px;

    h3 {
        color: #333;
        text-shadow: 1px 1px white;
        font-weight: normal;
        text-indent: 15px;
        margin-bottom: 5px;
        position: relative;
        z-index: 10;

        &:before { 
            content:"";
            position: absolute; left: 1px; top: 25px;
            width:10px; height:10px;
            border: 2px $neutral-color solid;
            background: $anyfetch-color;
            @include border-radius(5px);

        }
    }
    
    .timeslice {
        background: white;
        position: relative;
        z-index: 5;
        padding: 0 0 20px;
        margin: 0 5px 0px 15px;

        &:before { 
            content:"";
            position: absolute; left: -6px;
            width:0; height:0;
            border-top:8px solid transparent;
            border-bottom:8px solid transparent;
            border-right:6px solid white;
        }
        
        .item {
            &:not(:last-child) { border-bottom: 1px $primary-color solid; }
            margin-bottom: 0px;
            display: block;
            color: #333;
            padding: 10px 20px 0;
            
            .details {
                text-align: justify;
            }
            
            .headerItem {
                .date {
                    font-weight: normal;
                    float: left;
                    //BIG SCREEN
                    //text-align: right;
                }
                
                .icons {
                    width: 40px;
                    position: relative;
                    left: 0px;
                    top: -5px;
                    float: left;
                    
                    //.iconItem { width: 34px; }
                    .iconProvider {
                        width: 20px;
                        position: absolute;
                        bottom: -5px;
                        left: -10px;
                    }
                }
                
                .text {
                    margin: 5px 0 0 50px;
                    
                    h2 {
                        margin: 0px;
                        font-size: 0.9em;
                        padding-left: 0;
                    }
                }
            }
            
            p {
                clear: both;
                margin: 10px 0 5px;
            }
        }
    }
}